<aside class="pt-5 px-4 text-center">
    <div class="mb-3">
        <a [routerLink]="['editarPerfil']">
            <img src="../../assets/avatares/{{arrUsuario?.avatar}}.jpg" class="img-fluid rounded-circle">
        </a>
    </div>
    <div>
        <h2>{{arrUsuario?.usuario}}</h2>
        <p class="cita">{{arrUsuario?.cita}}</p>
    </div>

    <div>
        <h1 class="pb-0">{{arrUsuario?.peliculasPuntuadas}}</h1>
        <p>películas vistas</p>
    </div>

    <div>
        <h1 class="pb-0">{{ arrUsuario?.puntuacionMedia || '-' }}</h1>
        <p>valoración media</p>
    </div>

    <div>
        <h1 class="pb-0">{{arrUsuario?.peliculasPendientes}}</h1>
        <p>películas pendientes</p>
    </div>




</aside>