<div class="principal">

    <!-- FICHA CINE --------------------------------------------- -->

    <div class="cine">
        <div class="d-inline-block">
            <div>
                <h1 class="card-title"> {{ cine[0]?.nombre }} </h1>
                <div class="subtitulo">
                    <select class="d-inline-block" (change)="onChange($event.target.value)">
                        <option value="NULL" active></option>
                        <option value="1" [selected]="puntuacion === 1">1</option>
                        <option value="2" [selected]="puntuacion === 2">2</option>
                        <option value="3" [selected]="puntuacion === 3">3</option>
                        <option value="4" [selected]="puntuacion === 4">4</option>
                        <option value="5" [selected]="puntuacion === 5">5</option>
                    </select>
                    <p class="d-inline-block mr-4 mb-0">MI VALORACIÓN</p>
                    <p class="d-inline-block mr-4  mb-0"><span class="mr-2">{{datosCine?.puntuacion || '-'}}</span>
                        VALORACIÓN
                        MEDIA</p>
                    <p class="d-inline-block mr-4  mb-0"><span class="mr-2">{{datosCine?.numeroPuntuaciones}}
                        </span>VALORACIONES</p>
                    <button class="d-inline-block" *ngIf="!favorito" (click)="onClick($event.target.value)"
                        value="1">FAVORITO</button>
                    <button class="d-inline-block" *ngIf="favorito" (click)="onClick($event.target.value)"
                        value="0">QUITAR DE
                        FAVORITOS</button>
                </div>
            </div>

            <p class="info mt-3 mb-0">{{ cine[0]?.direccion }} - {{ cine[0]?.ciudad }}</p>
            <a [href]="cine[0]?.web" class="info">{{ cine[0]?.web }}</a>
        </div>
    </div>

    <input class="" id="btnCartelera" type="submit" value="Cartelera" (click)="onClickC()">
    <input class="inactivo" id="btnOpiniones" type="submit" value="Opiniones" (click)="onClickO()">

    <!-- FICHAS PELICULAS PROYECTADAS ------------------------------ -->
    <div *ngIf="cartelera" class="cartelera">
        <div class="peliculas p-2">
            <div class="pelicula mb-3 p-2" *ngFor="let pelicula of arrPeliculas">
                <div class="">
                    <a [routerLink]="['/in/pelicula/', pelicula?.id]"><img
                            src="http://localhost:3000/images/{{pelicula?.id}}.jpg" class="foto img-fluid"></a>
                </div>
                <div class="sesiones">
                    <h4><a [routerLink]="['/in/pelicula/', pelicula.id]">{{pelicula?.titulo}}</a></h4>
                    <p>Sesiones</p>
                    <div class="sesion">
                        <div *ngFor="let hora of pelicula?.horarios" class="hora">
                            <a href="{{hora?.link}}" target="_blank">{{hora?.horario}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- CHAT ------------------------------ -->

    <div *ngIf="opiniones" class="opiniones">
        <app-chat></app-chat>
    </div>