<div class="principal p-4">

    <!-- FICHA CINE --------------------------------------------- -->

    <div class="cine mb-3 p-4">
        <div class="col-md-11">
            <div>
                <h2 class="card-title"> {{ cine[0]?.nombre }} </h2>
                <p class="card-text">{{ cine[0]?.direccion }}</p>
                <a [routerLink]="cine[0].web" class="card-text  d-inline mr-5">{{ cine[0]?.web }}</a>
                <a href="" class="card-text d-inline  mr-5">{{ cine[0]?.telefono }}</a>
            </div>
        </div>
        <div class="favorito">

            <button *ngIf="!favorito" (click)="onClick($event.target.value)" value="1">Favorito</button>
            <button *ngIf="favorito" (click)="onClick($event.target.value)" value="0">Quitar de favoritos</button>

        </div>

    </div>

    <!-- FICHAS PELICULAS PROYECTADAS ------------------------------ -->
    <div class="peliculas p-1">


        <div class="pelicula mb-3">
            <div class="row no-gutters p-3 col-md-11">
                <div class="col-md-4 mr-4">
                    <img src="https://a.ltrbxd.com/resized/film-poster/2/9/1/4/1/9/291419-ford-v-ferrari-0-460-0-690-crop.jpg?k=3ac9a160ad"
                        class="foto img-fluid">
                </div>
                <div class="col-md-7">
                    <div>
                        <h4>Frod vs. Ferrari</h4>
                        <div class="float-left mr-4">
                            <div class="sesion"><a href="">16:00</a></div>
                            <div class="sesion"><a href="">19:00</a></div>
                        </div>
                        <div class="float-left mr-4">
                            <div class="sesion"><a href="">22:00</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="pelicula mb-3">
            <div class="row no-gutters p-3">
                <div class="col-md-4  mr-4">
                    <img src="http://es.web.img3.acsta.net/c_215_290/pictures/19/08/22/20/01/2916985.jpg"
                        class="img-fluid foto">
                </div>
                <div class="col-md-7">
                    <div>
                        <h4>Madre</h4>
                        <div class="float-left mr-4">
                            <div class="sesion"><a href="">16:00</a></div>
                            <div class="sesion"><a href="">18:00</a></div>
                        </div>
                        <div class="float-left mr-4">
                            <div class="sesion"><a href="">20:00</a></div>
                            <div class="sesion"><a href="">22:00</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="pelicula mb-3">
            <div class="row no-gutters p-3">
                <div class="col-md-4 mr-4">
                    <img src="https://a.ltrbxd.com/resized/film-poster/4/0/6/7/7/5/406775-joker-0-460-0-690-crop.jpg?k=72dcdc129a"
                        class="img-fluid foto">
                </div>
                <div class="col-md-7">
                    <div>
                        <h4>Joker</h4>
                        <div class="float-left mr-4">
                            <div class="sesion"><a href="">16:00</a></div>
                            <div class="sesion"><a href="">18:00</a></div>
                        </div>
                        <div class="float-left mr-4">
                            <div class="sesion"><a href="">20:00</a></div>
                            <div class="sesion"><a href="">22:00</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <app-chat></app-chat>
</div>