<div class="principal col-8 float-left p-4">

    <!-- FICHA CINE --------------------------------------------- -->

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters pl-3">
            <div class="col-md-4">
                <img src="../../assets/provisional-images/Imagen1.svg" class="img-fluid" width="200px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Cines Renoir Princesa</h2>
                    <p class="card-text">Renoir</p>
                    <p class="card-text">Calle de la Princesa, 3</p>
                    <p class="card-text">Madird</p>
                    <a href="" class="card-text"><small class="text-muted">915421172</small></a>
                </div>
            </div>
        </div>
    </div>

    <!-- FICHAS PELICULAS PROYECTADAS ------------------------------ -->

    <div class="card mb-3 mr-3 float-left   " style="width: 48%; height: 180px">
        <div class="row no-gutters p-3">
            <div class="col-md-4">
                <img src="https://pics.filmaffinity.com/the_irishman-973471009-mmed.jpg" class="img-fluid"
                    width="100px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">The Irishman</h4>
                    <div class="float-left mr-4">
                        <div class="sesion"><a href="">16:00</a></div>
                        <div class="sesion"><a href="">19:00</a></div>
                    </div>
                    <div class="float-left mr-4">
                        <div class="sesion"><a href="">22:00</a></div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 float-left" style="width: 48%;  height: 180px">
        <div class="row no-gutters p-3">
            <div class="col-md-4">
                <img src="https://pics.filmaffinity.com/madre-610240775-mmed.jpg" class="img-fluid" width="100px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Madre</h4>
                    <div class="float-left mr-4">
                        <div class="sesion"><a href="">16:00</a></div>
                        <div class="sesion"><a href="">18:00</a></div>
                    </div>
                    <div class="float-left mr-4">
                        <div class="sesion"><a href="">20:00</a></div>
                        <div class="sesion"><a href="">22:00</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="social col-4 p-5 float-left">
    <div class="container p-0">
        <div class="reseñas mb-4">

        </div>

        <textarea id="" class="col-12" rows="4">

        </textarea>
    </div>

</div>