<div class="social">

    <section>
        <p>Pelis</p>
        <ul>
            <li *ngFor="let peli of peliculasVistas">
                <a [routerLink]="['/usuario/', peli.usuario[0].id]" class="d-inline-block
"><img src="../../assets/avatares/{{peli.usuario[0].avatar}}.jpg" class="img-fluid rounded-circle mr-2"></a>
                <a [routerLink]="['/pelicula/', peli.pelicula[0].id]" class="t-nowrap">{{peli.pelicula[0].titulo}}</a>
            </li>

        </ul>
    </section>
    <section>
        <p>Mensajes</p>
        <ul>
            <li *ngFor="let mensaje of ultimosMensajes">
                <div class="foto"><a [routerLink]="['usuario/', mensaje.fk_usuario]"><img
                            src="../../assets/avatares/{{mensaje.avatar}}.jpg" class="img-fluid rounded-circle"></a>
                </div>
                <a [routerLink]="['usuario/', mensaje.fk_usuario]" class="ml-2">{{mensaje.post}}</a>
            </li>

        </ul>
    </section>
</div>