<div>

    <section>
        <h5>Mis amigos han visto...</h5>
        <ul class="pt-4">
            <li>
                <div class="foto"><a href=""><img src="../../assets/provisional-images/avatar1.jpg"
                            class="img-fluid rounded-circle"></a>
                </div>
                <a class="ml-2">Madre</a>
            </li>
            <li>
                <div class="foto"><a href=""><img src="../../assets/provisional-images/avatar2.jpg"
                            class="img-fluid rounded-circle"></a>
                </div>
                <a class="ml-2">La trinchera infinita</a>
            </li>
            <li>
                <div class="foto"><a href=""><img src="../../assets/provisional-images/avatar2.jpg"
                            class="img-fluid rounded-circle"></a>
                </div>
                <a class="ml-2">Ford vs Ferrari</a>
            </li>
            <li>
                <div class="foto"><a href=""><img src="../../assets/provisional-images/avatar1.jpg"
                            class="img-fluid rounded-circle"></a>
                </div>
                <a class="ml-2">El rey león</a>
            </li>
            <li>
                <div class="foto"><a href=""><img src="../../assets/provisional-images/avatar2.jpg"
                            class="img-fluid rounded-circle"></a>
                </div>
                <a class="ml-2">Frozen 2</a>
            </li>
        </ul>
    </section>
    <section>
        <h5>Mis amigos quieren ver...</h5>
        <ul class="pt-4">
            <li>
                <div class="foto"><a href=""><img src="../../assets/provisional-images/avatar2.jpg"
                            class="img-fluid rounded-circle"></a>
                </div>
                <a class="ml-2">El traidor</a>
            </li>
            <li>
                <div class="foto"><a href=""><img src="../../assets/provisional-images/avatar1.jpg"
                            class="img-fluid rounded-circle"></a>
                </div>
                <a class="ml-2">Midway</a>
            </li>
            <li>
                <div class="foto"><a href=""><img src="../../assets/provisional-images/avatar1.jpg"
                            class="img-fluid rounded-circle"></a>
                </div>
                <a class="ml-2">Los dos papas</a>
            </li>
            <li>
                <div class="foto"><a href=""><img src="../../assets/provisional-images/avatar2.jpg"
                            class="img-fluid rounded-circle"></a>
                </div>
                <a class="ml-2">Jumanji</a>
            </li>
            <li>
                <div class="foto"><a href=""><img src="../../assets/provisional-images/avatar1.jpg"
                            class="img-fluid rounded-circle"></a>
                </div>
                <a class="ml-2">Cats</a>
            </li>
        </ul>
    </section>
</div>