ul {
    list-style: none;
    padding-left: 22px;
    padding-bottom: 15px;
    margin-top: -10px;
}
li {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}
.foto, a {
    display: inline-block;
}
img {
    width: 25px;
}
a {
    font-size: 80%;
}
p {
    padding-left: 20px;
}


button:focus {
    outline: none;
}