# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/assets/avatares/beatlechus - copia.jpg
src/assets/avatares/beatlechus.jpg
src/assets/avatares/beatrixkiddo - copia.jpg
src/assets/avatares/beatrixkiddo.jpg
src/assets/avatares/danielplainview - copia.jpg
src/assets/avatares/danielplainview.jpg
src/assets/avatares/django - copia.jpg
src/assets/avatares/django.jpg
src/assets/avatares/doc - copia.jpg
src/assets/avatares/doc.jpg
src/assets/avatares/dorothy - copia.jpg
src/assets/avatares/dorothy.jpg
src/assets/avatares/drianholm - copia.jpg
src/assets/avatares/drianholm.jpg
src/assets/avatares/driver - copia.jpg
src/assets/avatares/driver.jpg
src/assets/avatares/extraterrestre - copia.jpg
src/assets/avatares/extraterrestre.jpg
src/assets/avatares/fronkonstin - copia.jpg
src/assets/avatares/fronkonstin.jpg
src/assets/avatares/hombresinnombre - copia.jpg
src/assets/avatares/hombresinnombre.jpg
src/assets/avatares/joker - copia.jpg
src/assets/avatares/joker.jpg
src/assets/avatares/leeloo - copia.jpg
src/assets/avatares/leeloo.jpg
src/assets/avatares/margegunderson - copia.jpg
src/assets/avatares/margegunderson.jpg
src/assets/avatares/martian - copia.jpg
src/assets/avatares/martian.jpg
src/assets/avatares/michaelscott - copia.jpg
src/assets/avatares/michaelscott.jpg
src/assets/avatares/mrpink - copia.jpg
src/assets/avatares/mrpink.jpg
src/assets/avatares/oldboy - copia.jpg
src/assets/avatares/oldboy.jpg
src/assets/avatares/ripley - copia.jpg
src/assets/avatares/ripley.jpg
src/assets/avatares/terminator - copia.jpg
src/assets/avatares/terminator.jpg
src/assets/avatares/tyrion - copia.jpg
src/assets/avatares/tyrion.jpg
src/assets/avatares/wllywonka - copia.jpg
src/assets/avatares/wllywonka.jpg
src/assets/fonts/PROXIMA NOVA ALT BOLD.OTF
src/assets/fonts/PROXIMA NOVA ALT LIGHT.OTF
src/assets/fonts/PROXIMA NOVA ALT THIN.OTF
src/assets/fonts/PROXIMA NOVA BLACK.OTF
src/assets/fonts/PROXIMA NOVA BOLD.OTF
src/assets/fonts/PROXIMA NOVA EXTRABOLD.OTF
src/assets/fonts/PROXIMA NOVA THIN.OTF
src/assets/fonts/PROXIMANOVA-REGULAR.OTF
src/assets/icons/ajustes.png
src/assets/icons/cine.svg
src/assets/icons/lupa.jpg
src/assets/icons/lupa.png
src/assets/icons/lupa.svg
src/assets/icons/lupita.png
