<div class="p-5">
    <form class="form-group col-6" [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <h4 class="mb-4">Renueva tu avatar y tu cita</h4>

            <div>
                <img *ngIf="!avatarSeleccionado" class="img-fluid rounded-circle pb-3"
                    src="../../assets/avatares/{{arrUsuario?.avatar}}.jpg">
                <img *ngIf="avatarSeleccionado" class="img-fluid rounded-circle pb-3"
                    src="../../assets/avatares/{{avatarSeleccionado}}.jpg">
            </div>
            <div class="form-group">
                <select type="checkbox" class="form-control cb" formControlName="avatar"
                    (change)="onChange($event.target.value)">
                    <option [value]="avatar?.id" [selected]="arrUsuario?.avatar == avatar?.id"
                        *ngFor="let avatar of arrAvatares">{{avatar.personaje}} -
                        <span class="font-italic">{{avatar.pelicula}}</span></option>
                </select>
            </div>

            <div class="form-group">
                <input placeholder="Cita" type="input" class="form-control cb" formControlName="cita"
                    [value]="arrUsuario?.cita">
            </div>

            <input type="submit" class="btn btn-light" value="Cambiar" [disabled]="formulario.invalid">
        </div>
    </form>
</div>