aside {
    background-color: #1abc9c;
    height: 100vh;
    padding: 20px;
}
picture {
    margin: 0 auto;
}
.img-fluid {
    max-width: 70%; 
    max-height: auto; 
    margin-bottom: 20px;
}
#nota {
    width: 80%;
    height: 30px;
}
#nota div {
    height: 30px;
    width: 20%;
    display: inline-block;
}
.mala {
    background-color: darkred;
}
.pasable {
    background-color: darkorange;
}
.entretenida {
    background-color: violet;
}
.interesante {
    background-color: teal;
}
.muyBuena {
    background-color: lime;
}
