<aside>
    <picture><img src="../../assets/provisional-images/avatar.jpg" class="img-fluid rounded-circle" max-width="50px">
    </picture>

    <h2>Usuario*</h2>

    <p>Mi cita guay bla bla bla*</p>

    <div>
        <h2 class="display-inline">250*</h2>
        <p class="display-inline">pelis vistas</p>
    </div>

    <div>
        <h2>70*</h2>
        <p>pelis pendientes</p>
    </div>

    <div id="nota">
        <p>Valoraciones</p>
        <div class="mala"></div>
        <div class="pasable"></div>
        <div class="entretenida"></div>
        <div class="interesante"></div>
        <div class="muyBuena"></div>
    </div>


</aside>