<nav class="navbar navbar-expand-lg pl-0">
    <div class="col-2 px-0">
        <a class="navbar-brand" href="#">peli<span>AL</span>dia</a>
    </div>
    <ul class="nav d-inline-block col-8">
        <li class="nav-item d-inline-block"><a class="nav-link" href="#">amigos</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link" href="#">pelis</a></li>
        <li class="nav-item d-inline-block"><a class="nav-link" href="#">cines</a></li>
    </ul>
    <div class="collapse navbar-collapse col-2">
        <form class="buscador form-inline input-group" #formulario="ngForm">
            <input class="form-control col-9" type="search" name="item" ngModel>
            <div class="input-group-append">
                <button class="btn" type="submit" [routerLink]="['/busqueda/', formulario.value.item]">P</button>
            </div>
        </form>
    </div>
</nav>