<nav>
    <div class="logo">
        <a class="navbar-brand" href="#">peli<span>AL</span>dia</a>
    </div>
    <div class="navegador">
        <div class="bloque links">
            <ul class="nav d-inline-block">
                <li class="nav-item d-inline-block"><a class="nav-link" [routerLink]="['perfil/amigos']">amigos</a>
                </li>
                <li class="nav-item d-inline-block"><a class="nav-link" [routerLink]="['perfil/peliculas']">pelis</a>
                </li>
                <li class="nav-item d-inline-block"><a class="nav-link" [routerLink]="['perfil/cines']">cines</a></li>
                <button (click)="onClick()">Cargar API</button>
            </ul>
        </div>

        <div class="dropdown bloque">
            <button (click)="onClickPerfil()" class="dropbtn"><img src="../../assets/avatares/tyrion.jpg"
                    class="rounded-circle" width="25px;"></button>
            <div class="myDropdown" class="dropdown-contenido" *ngIf="oculto">
                <ul>
                    <li><a [routerLink]="['editarPerfil']">Ajustes del perfil</a></li>
                    <li><a [routerLink]="['login']">Doblar servilleta</a></li>

                </ul>


            </div>

        </div>
        <div class="bloque search">
            <form class="buscador form-inline input-group" #formulario="ngForm">
                <input class="buscador form-control" type="search" name="item" ngModel>
                <div class="input-group-append">
                    <button class="btn" type="submit" [routerLink]="['/busqueda/', formulario.value.item]"></button>
                </div>
            </form>
        </div>
    </div>
</nav>