.principal {
    background-color: #ecf0f1;
}
.principal {
    background-color: rgba(0, 80, 76, 0.5);
}
.img-fluid {
    max-width: 70%; 
    max-height: auto; 
    margin-bottom: 20px;
}

.conversaciones {
    height: auto;
    border: 1px solid rgb(212, 245, 244);
    border-radius: 3px;
}
textarea {
    background-color:  rgb(212, 245, 244);
    color:rgb(0, 80, 76);
}