.principal {
    background-color: rgba(0, 80, 76, 0.5);
}
.usuario {
    border-radius: 5px;
    width: 100%;  
    height: auto;
    background-color: rgb(31, 97, 94);
}
.img-fluid {
    width: 150px;
    margin-bottom: 20px;
}
button {
    border: none
}
button:hover {
    color: white;
}
button:focus {
    outline: none;
}