.conversaciones {
    height: auto;
    border-top: 0.5px solid rgb(212, 245, 244);
}
form {
    padding-top: 40px;
}
textarea {
    background-color: rgb(212, 245, 244);
    color:rgb(0, 80, 76);
}
.btn {
    color:rgb(212, 245, 244);
    font-size: 90%;
    width: 170px;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;
}
input:hover {
    color: white;
}
.pie {
    width: 100%;
    float: right;
    text-align: right;
}
.conversaciones:after{
	content:'';
	display: block;
	height: 0;
	clear: both;
}
.firma p {
    margin-bottom: 5px;
}
.firma:hover p {
    color: white;
}
.conversaciones p {
    font-family: 'ProximaNova-Thin';
}
.conversaciones > .eliminado, .postEditado{
    font-size: 90%;
    font-style: italic;
}
.autor {
    font-family: 'ProximaNova-Thin';
    font-style: italic;
    font-size: 80%;
    display: inline-block;
}
img {
    width: 25px;
    display: inline-block;
    margin-left: 10px; 
}
.fecha {
    font-family: 'ProximaNova-Thin';
    font-style: italic;
    font-size: 80%;
    text-align: right;
    margin-bottom: 5px;
}
.pie input {
    font-size: 70%;
    width: 75px;
    padding: 0;
    color:rgb(212, 245, 244);
    background-color: rgb(0, 80, 76);
    border: none;
    cursor: pointer;
    text-align: right;
}
.pie input:hover {
    color:white;
}
.pie .eliminado {
    display: none;
}