<form class="form-group pt-5" [formGroup]="acceso" (ngSubmit)="onSubmit()">
    <div class="col-7">

        <div class="form-group form-check">
            <label>Introduce tu mail</label>
            <input class="form-control" type="mail" formControlName="mail">
        </div>

        <div class="form-group form-check">
            <label>Contraseña</label>
            <input class="form-control" type="password" formControlName="password">
        </div>

        <div class="form-group form-check">
            <input type="submit" class="btn btn-warning">
            <a class="ml-5" [routerLink]="'/formulario'">¿No estás registrado? ¡Házlo ahora!</a>
        </div>

    </div>
</form>