<div class="cuerpo">
    <div class="velo">
        <div class="container">
            <form class="formulario form-group mx-auto " [formGroup]=" acceso" (ngSubmit)="onSubmit()">

                <img src="../../assets/logo/logopelialdia.jpg">
                <p>Móntatelo de cine</p>

                <div class="form-group form-check pl-0">
                    <input class="form-control" placeholder="Mail" type="mail" formControlName="mail">
                </div>

                <div class="form-group form-check pl-0">
                    <input class="form-control" placeholder="Contraseña" type="password" formControlName="password">
                    <p class="alerta" *ngIf="alertaLogin">Usuario y/o contraseña incorrectos.</p>
                </div>

                <div class="form-group form-check pl-0">
                    <input type="submit" class="btn btn-light p-1" value="INICIAR SESIÓN">
                </div>
                <p class="pt-4 registro">¿No estás registrado? <a [routerLink]="'/registro'">¡CREA TU USUARIO!</a></p>


            </form>
        </div>
    </div>
</div>