<main>
    <div class="principal p-4">

        <section>
            <h3 class="text-center">Últimas películas vistas</h3>
            <div class="carrusel ultimas">
                <div *ngIf="vistasVacio">
                    <p class="aviso text-center mt-4 p-5">Todavía no has valorado ninguna pelicula. Busca tus pelis
                        favoritas
                        y
                        valóralas.
                        Te irán apareciendo en está sección según las vayas puntuando.</p>
                </div>
                <div *ngIf="!vistasVacio" class="bloquePeliculas scroll">

                    <div class="peli  rounded" *ngFor="let pelicula of arrPelisVistasMostradas">
                        <a [routerLink]="['/in/pelicula/', pelicula?.id]">
                            <img src="http://localhost:3000/images/{{ pelicula?.fk_pelicula }}.jpg"
                                class="imgpasado rounded mx-1">
                        </a>
                        <div class="velo rounded">
                            <ul>
                                <li class="mb-2"><a [routerLink]="['/in/pelicula/', pelicula?.fk_pelicula]"
                                        class="text-center text-wrap">{{pelicula.titulo}}</a>
                                </li>
                                <li>
                                    <P class="mb-0">Vista el</P>
                                </li>
                                <li>
                                    <p class="text-center">{{pelicula.fechapuntuacion}}</p>
                                </li>
                                <li>
                                    <P class="mb-0">Puntuación</P>
                                </li>
                                <li>
                                    <p class="text-center">{{pelicula.puntuacion}}</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <button class="cargarMas" (click)="cargarMas('vistas')" *ngIf="vistasIncompleto">...</button>
                </div>
            </div>
        </section>

        <section class="mt-4">
            <h3 class="text-center">Cartelera</h3>
            <h6 class="text-center"><select (change)="onChange($event.target.value)">
                    <option [value]="cineCercano?.id">{{cineCercano?.nombre}} - (Cine más cercano)</option>
                    <option *ngFor="let cine of arrCinesFavoritos" value="{{cine?.id}}">{{cine?.nombre}} - (Cine
                        favorito)
                    </option>
                </select></h6>

            <div class="carrusel">
                <div *ngIf="sinFavoritos">
                    <p class="">Marca tus cines favoritos y podrás seleccionarlos aquí.
                    </p>
                </div>
                <div class="bloquePeliculas scroll">
                    <div class="peli rounded" *ngFor="let pelicula of arrCartelera">
                        <a [routerLink]="['/in/pelicula/' + pelicula?.id]"><img
                                src="http://localhost:3000/images/{{pelicula?.id}}.jpg" class="rounded mx-1"></a>
                        <div class="velo rounded">
                            <ul>
                                <li class="mb-2"><a [routerLink]="['/in/pelicula/' + pelicula?.id]"
                                        class="text-center text-wrap">{{pelicula.titulo}}</a></li>
                                <li class="mb-0">
                                    <p class="mb-1">Sesiones</p>
                                </li>
                                <li class="mb-0" *ngFor="let hora of pelicula.horarios">
                                    <a href="{{hora?.link}}" class="text-center text-wrap"
                                        target="_blank">{{hora?.horario}}</a>
                                </li>
                            </ul>

                        </div>
                    </div>


                </div>

            </div>
        </section>

        <section class="my-4">
            <h3 class="text-center">Próximos estrenos</h3>

            <div class="carrusel">

                <div class="bloquePeliculas scroll">
                    <div id="{{pelicula?.id}}" class="peli rounded" *ngFor="let pelicula of arrEstrenosMostrados">
                        <a [routerLink]="['/in/pelicula/', pelicula?.id]">
                            <img src="http://localhost:3000/images/{{ pelicula?.id }}.jpg" class="rounded mx-1">
                        </a>
                        <div class="velo rounded">
                            <ul>
                                <li class="mb-2"><a [routerLink]="['/in/pelicula/', pelicula?.id]"
                                        class="text-center text-wrap">{{pelicula?.titulo}}</a>
                                </li>
                                <li>
                                    <P class="mb-0">Estreno</P>
                                </li>
                                <li>
                                    <p class="text-center">{{pelicula?.fechaestreno}}</p>
                                </li>
                                <li>
                                    <P class="mb-0">No mostrarla más</P> <button [value]="pelicula?.id"
                                        (click)="onSubmit($event.target.value)">X</button>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <button class="cargarMas" (click)="cargarMas('estrenos')"
                        *ngIf="proximosEstrenosIncompleto">...</button>
                </div>
            </div>

        </section>
    </div>

</main>