
.pelicula {
    border: 1px solid rgb(212, 245, 244);
    border-radius: 5px;
}
.foto {
    border-radius: 5px;
}
button {
    border: none
}
button:hover {
    color: white;
}
button:focus {
    outline: none;
}
.reseñas {
    height: auto;
    border: 1px solid rgb(212, 245, 244);
    border-radius: 3px;
}
textarea {
    background-color:  rgb(212, 245, 244);
    color:rgb(0, 80, 76);
}