<div class="princial col-8 float-left p-4">

    <!-- FICHA PELICULA --------------------------------------------- -->

    <div class="card mb-3 pt-3" style="max-width: 100%;">
        <div class="row no-gutters pl-3">
            <div class="col-md-4">
                <img src="https://pics.filmaffinity.com/the_irishman-973471009-mmed.jpg" class="img-fluid"
                    width="200px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">El irlandés</h2>
                    <p class="card-text">Año: 2019</p>
                    <p class="card-text">Duración: 210 minutos</p>
                    <p class="card-text">Director: Martin Scorsese</p>
                    <p class="card-text">Reparto: Robert De Niro, Al Pacino, Joe Pesci, Harvey Keitel</p>
                    <p class="card-text">Frank Sheeran fue un veterano de la Segunda Guerra Mundial, estafador y sicario
                        que trabajó con algunas delas figuras más destacadas del s. XX. El irlandés la crónica de uno de
                        los grandes misterios sinresolver del país: ladesaparición del legendario sindicalista Jimmy
                        Hoffa, un gran viaje por los turbios entresijosdel crimen organizado:sus mecanismos internos,
                        rivalidades y su conexión con la política. Adaptación del libro "IHeard You Paint Houses",
                        deCharles Brandt, a cargo del guionista Steven Zaillian (La lista de Schindler,
                        AmericanGangster).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="social col-4 p-5 float-left">
    <div class="container p-0">
        <div class="reseñas mb-4">

        </div>

        <textarea id="" class="col-12" rows="4">

        </textarea>
    </div>

</div>