<div class="princial p-4">

    <!-- FICHA PELICULA --------------------------------------------- -->

    <div class="pelicula mb-3 pt-3">
        <div class=" row no-gutters p-4">
            <div class="col-md-2">
                <img [src]="pelicula.imagen" class="foto img-fluid">
            </div>
            <div class="col-md-10 pl-3">
                <div class="card-body pt-0">
                    <h2 class="card-title"> {{ pelicula.titulo }} </h2>
                    <p class="card-text">Año: {{ pelicula.anio }}</p>
                    <p class="card-text">Duración: {{ pelicula.duracion }}</p>
                    <p class="card-text">Director: {{ pelicula.director }}</p>
                    <p class="card-text">Reparto: {{ pelicula.reparto }}</p>
                    <p class="card-text">Sinopsis: {{ pelicula.sinopsis }}</p>

                    <div class="puntuar">
                        <select name="" id="" (change)="onChange($event.target.value)">
                            <option value="NULL" active></option>
                            <option value="1" [selected]="puntuacion === 1">1</option>
                            <option value="2" [selected]="puntuacion === 2">2</option>
                            <option value="3" [selected]="puntuacion === 3">3</option>
                            <option value="4" [selected]="puntuacion === 4">4</option>
                            <option value="5" [selected]="puntuacion === 5">5</option>
                        </select>
                        <p>valoración</p>
                    </div>
                    <div class="pendientes">
                        <p>
                            <button *ngIf="!pendiente" (click)="onClick($event.target.value)" value="1">Añadir a pelis
                                pendientes</button>
                            <button *ngIf="pendiente" (click)="onClick($event.target.value)" value="0">Quitar de pelis
                                pendientes</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-chat></app-chat>

</div>