<div>
    <div class="navegador">
        <app-navegador></app-navegador>
    </div>
    <div class="cuerpo">
        <div class="perfil px-0 ">
            <app-perfil class="appPerfil position-fixed"></app-perfil>
        </div>
        <div class="contenido position-relative px-0">
            <router-outlet></router-outlet>
        </div>
        <div class="social px-0 py-4">
            <app-social class="position-fixed"></app-social>
        </div>

    </div>
    <div class="footer col-12 text-center pt-5">© peli<span class="font-italic">AL</span>dia</div>
</div>