.navegador {
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 100;
} 
.cuerpo {
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    position: absolute;
}
.perfil {
    width: 250px;
    height: 100vh;
    background-color: rgb(0, 65, 61);
    position: fixed;
    z-index: 1;
}
.contenido {
    width: 100%;
    padding: 0 250px;
    min-height: 95vh;
    background-color: rgb(0, 80, 76);
    position: relative;
    overflow: auto;
} 
.social {
    width: 250px;
    height: 100vh;
    background-color: rgb(0, 65, 61);
    position: fixed;
    top: 48px;
    right: 0;
    z-index: 10;
}
.footer {
    height: 100px;
    background-color: rgb(43, 44, 44);
    position: relative;
    z-index: 10;
}
span {
    background-color: rgb(43, 44, 44);
}

@media (max-width: 1200px) {

    .contenido {
        padding-right: 0;
    }
    .social {
        display: none;
    }
}

@media (max-width: 950px) {
    
    .perfil {
        width: 150px;
    }
    .contenido {
       padding-left: 150px;
    }

}

@media (max-width: 540px) {
    
    .perfil {
        display: none; 
    }
    .navegador {
        height: 100px;
    }
    .contenido {
       padding-left: 0;
    }
}