@font-face {
  font-family: 'ProximaNova-Regular';
  src: url(assets/fonts/PROXIMANOVA-REGULAR.OTF) format("opentype");
}
@font-face {
    font-family: 'ProximaNova-Thin';
    src: url(assets/fonts/PROXIMANOVA-THIN.OTF) format("opentype");
}
* {
    color: rgb(212, 245, 244); 
    font-family: 'ProximaNova-Regular'; 
}
h2 {
    color: white;
}
a {
    color: rgb(212, 245, 244);
}
a:hover {
    color: white;
    text-decoration: none;
}
button {
    background-color: rgb(0, 80, 76);
    border: none
}
input:hover, button:hover {
    color: white;
}
button:focus, select:focus, input:focus {
    outline: none;
}
select {
    background-color: rgb(0, 80, 76);
    color: rgb(212, 245, 244);
    border-radius: 2px;
}
.card {
    background-color: rgb(31, 97, 94);
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}
input:focus,input:active {
   outline: none !important;
   box-shadow: none !important;
}
