<div class="p-5">
    <form class="form-group col-6" [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <h3 class="mb-5">Registro</h3>
        <div class="pl-4">
            <div class="form-group">
                <input placeholder="Nombre" type="text" class="form-control" formControlName="nombre">
            </div>

            <div class="form-group">
                <input placeholder="Apellidos" type="text" class="form-control" formControlName="apellidos">
            </div>

            <div class="form-group">
                <input placeholder="Fecha de nacimiento" type="date" class="form-control"
                    formControlName="fechaNacimiento">
            </div>

            <div class="form-group">
                <input placeholder="Mail" type="mail" class="form-control" formControlName="mail">
                <p class="alerta" *ngIf="alertaCampos.email">Ya hay un usuario registrado con este mail.</p>
            </div>

            <div class="form-group">
                <input placeholder="Password" type="password" class="form-control" formControlName="password">
            </div>

            <div class="form-group">
                <input placeholder="Confirmar password" type="password" class="form-control"
                    formControlName="rPassword">
            </div>

            <div class="form-group">
                <label>Elige tu avatar</label>
                <select type="checkbox" class="form-control cb" formControlName="avatar">
                    <option value="avatar1">Avatar 1</option>
                    <option value="avatar2">Avatar 2</option>
                    <option value="avatar3">Avatar 3</option>
                    <option value="avatar4">Avatar 4</option>
                    <option value="avatar5">Avatar 5</option>
                    <option value="avatar6">Avatar 6</option>
                    <option value="avatar7">Avatar 7</option>
                    <option value="avatar8">Avatar 8</option>
                </select>
            </div>

            <div class="form-group">
                <input placeholder="Usuario" type="text" class="form-control" formControlName="usuario">
                <p class="alerta" *ngIf="alertaCampos.user">Ya hay un usuario registrado con este alias.</p>
            </div>

            <div class="form-group">
                <input placeholder="Cita" type="input" class="form-control cb" formControlName="cita">
            </div>

            <input type="submit" class="btn btn-light" value="Enviar" [disabled]="formulario.invalid">
        </div>
    </form>
</div>